/* === basics === */

body{
	font-family: 'Times';
}
.menu ul, li, a{
	margin:0;
	padding: 0;
}
ul li{
	/*margin-left:20px;*/
}
a.obvious{
	font-weight: 700;
	text-transform: uppercase;
}
span.first-letter{
	font-size: 25px;
}

.string-link{
	position: absolute;
	/*top:-15px;*/
	right: 0;
	z-index: 100;
	width: 20px;height: 20px;
	background: #cccccc url('img/string_logo_mini.png') no-repeat;
	color:white;
}
.feature-annotation{
	display: block;
	position: relative;
}
/* === basics === */
.journal{
	font-style: italic;
}
.header{
	background-color:#eee;
	height: auto;
}
.header-image{
	display: inline-block;
}
.header-image img{
	height: 120px;
	width: auto;
}
/*#brain{
	height: 70px;
}
#brain img{
	height: 100%;width: auto;
}*/
.logo{
	font-family: 'Lobsters';
	font-size: 25px;
	line-height: 70px;
	/*padding:20px;*/

}
.logo img{
	/*width: 50%;*/
	/*height: auto;*/
}
.menu li{
	display: inline-block;
	/*font-size: 15px;*/
	width: 100px;
	height: 140px;
	text-align: center;
}
.menu li a{
	font-size:15px;
	line-height: 140px;
	color:black;
}
/*.menu li:hover{
	background-color:#ffffff;
}*/
/* home page ========= */
#content{
	margin-top:30px;
}
/* query page  =========  */
.title{
	margin-top: 20px;
	font-size: 15px;
}
.query-form form label{
	width: 100%;
	margin-top:10px;
}
/*feature stat page ======== */
.query-item{
	background-color: rgba(0,205,0,0.5);
	display: inline-block;
	color:#ffffff;
	padding: 5px;
}
.dataset-title{
	display: block;
	margin-top: 20px;
}
.dataset-title a{
	font-size: 17px;
	color:#000000;
}

/*cross study page =========*/
.cross-study-query-form{
	margin-top:20px;
}
.cross-study-query-form label{
	/*width: 70px;*/
	/*height: 60px;*/
	padding-left:30px;
	padding-right:30px;
	background-color:rgba(0, 205, 0, 0.2);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
	/*background: #1e5799; /* Old browsers */*/
/*	background: -moz-linear-gradient(45deg,  rgba(0,205,0,0.5) 0%, #ffffff 100%); 
	background: -webkit-linear-gradient(45deg,  rgba(0,205,0,0.5) 0%, #ffffff 100%); 
	background: linear-gradient(45deg,  rgba(0,205,0,0.5) 0%, #ffffff 100%); 
*/
	display: inline-block;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	/*padding:5px;*/
	/*background-color: #ccc*/
}

.cross-study-query-form input[type=checkbox]{
	display: none;
	font-weight: 600;
/*	width:20px;
	height:20px;
	background-color: white;
	box-sizing:none;*/
}

.cross-study-query-form input[type=submit]{
	background-color:rgba(0, 0, 205, 0.2);
	border-radius: 5px;
	padding:10px;
	border:none;	
	font-weight: 700;
	font-size:15pt;
}
.cross-study-query-form input[type=submit]:hover{
	background-color:rgba(0, 0, 205, 0.4);

}


.checkbox-mask{
	position: absolute;
	right: 0;
	top: 0;
	border-radius:5px;
	/*background-color: red;*/
	/*width: 20px;*/
	height: 15px;
}