{% extends "base.html" %}

{% block content %}
	<p class="title">Queried results</p>
	<p>{{ test_stat|length }} datasets found for the query</p>
	<div class="query-content">
		 <div class="query-item">
		 	{{datatype}}
		 </div>		 
		 <div class="query-item">
		 	{{tissue}}
		 </div>		 
		 <div class="query-item">
		 	{{category}}
		 </div>		 
		 <div class="query-item">
		 	{{group}}
		 </div>		 
		 <div class="query-item">
		 	{{comparison}}
		 </div>		 
		 <div class="query-item">
		 	{{features}}
		 </div>		 
		 <div class="query-item">
		 	{{way_to_choose_probe}}
		 </div>
	</div>
	<br>
	<br>
    <ul class="nav nav-tabs" role="tablist">
    {% for dataset, content in test_stat.items %}
    {% if forloop.counter == 1 %}
    <li class="active"><a href="#{{ dataset }}" role="tab" data-toggle="tab">{{ dataset }}</a></li>
    {% else %}
    <li><a href="#{{ dataset }}" role="tab" data-toggle="tab">{{ dataset }}</a></li>
    {% endif %}

    {% endfor %}
    </ul>
    <div class="tab-content">
	{% for dataset, content in test_stat.items %}
	<!-- {{ k }} : {{ v }} -->
	{% include 'partials/_queried_feature_table.html' %}

	{% endfor %}
    </div>
	<br>
	{% with meta_link="/meta/?datatype="|add:datatype|add:"&tissue="|add:tissue|add:"&category="|add:category|add:"&group="|add:group|add:"&comparison="|add:comparison|add:"&features="|add:features %}
	<a class="obvious" href="{{ meta_link }}">See Meta-analysis result</a> <br>
	{% endwith %}
	{% with string_group_link="http://version_10.string-db.org/cgi/network.pl?all_channels_on=1&block_structure_pics_in_bubbles=0&direct_neighbor=1&hide_disconnected_nodes=0&hide_node_labels=0&limit=0&network_display_mode=svg&network_flavor=evidence&targetmode=proteins&identifiers="|add:string_url_id_component %}
	<br>
	<a class="obvious" href="{{ string_group_link }}">See STRING network for quried features</a>
	{% endwith %}
	}


{% endblock %}

{% block styles %}
<style type="text/css">
#test{
	overflow: auto;	
	width: 2000px;
	height: 1000px;
}	
</style>

{% endblock %}

{% block scripts %}
{% endblock %}
