{% extends "base.html" %}

{% block content %}
	
	<h2>{{ dataset_name }}</h2>
	<table class="table">
		<thead>
	    <tr>
	        <th>Feature</th>
	        <th>Fold change</th>
	        <th>Limma z score</th>
	        <th>Limma p value</th>
	        <th>T-test z score</th>
	        <th>T-test p value</th>
	    </tr>
	    </thead>
	    <tbody>
    		{% for probe in test_stat %}
			<tr>
				<td class="feature-annotation">					
					{% with string_link="http://version_10.string-db.org/cgi/network.pl?all_channels_on=1&block_structure_pics_in_bubbles=0&direct_neighbor=1&hide_disconnected_nodes=0&hide_node_labels=0&network_display_mode=svg&network_flavor=evidence&targetmode=proteins&identifier="|add:probe.string_id %}
						<a class="string-link" href="{{ string_link }}"></a>
					{% endwith %}
					{% with gene_link="http://www.ncbi.nlm.nih.gov/gene/"|add:probe.entrez_gene_id %}
						<a href="{{ gene_link }}">
							{{ probe.symb }}
						</a>
					{% endwith %}

					
				</td>
				<td>{{ probe.fc|floatformat:"-3" }}</td>
				<td>{{ probe.lt|floatformat:"-3" }}</td>
				<td>{{ probe.lp|floatformat:"-3" }}</td>
				<td>{{ probe.tt|floatformat:"-3" }}</td>
				<td>{{ probe.tp|floatformat:"-3" }}</td>

			</tr>
    		{% endfor %}
	    	
	    </tbody>
		
	</table>

	<div id="heatmap"></div>			
	<div id="stripchart"></div>			

{% endblock %}

{% block styles %}
<style type="text/css">
</style>

{% endblock %}

{% block scripts %}

    <script>
        {% include 'partials/_expression_heatmap.js' %}
        {% include 'partials/_expression_stripchart.js' %}
    </script>

{% endblock %}
