{% extends "base.html" %}

{% block content %}
<div class="title">
	<h2 class="center">Sample distribution</h2>
</div>
<div class="container" id="bar-chart-container">
	<div class="col-lg-4" id="sample_count"></div>
	<div class="col-lg-4" id="gender_count"></div>
	<div class="col-lg-4" id="region_count"></div>
</div>
<div class="title">
	<h2 class="center">Dataset data type and located tissue</h2>
</div>
<div class="container">
	<table class="table table-responsive table-striped table-hover">
		<thead>
			<tr>
				<th>Dataset</th>
				<th>Data Type</th>
				<th>Tissue</th>
			</tr>
		</thead>
		<tbody>
		{% for dataset in data_type_and_tissue_summary %}
			<tr>
				<td>{{ dataset.dataset_accession }}</td>
				<td>{{ dataset.data_type }}</td>
				<td>{{ dataset.tissue }}</td>
			</tr>
		{% endfor%}	
		</tbody>
		
	</table>
</div>
{% endblock %}

{% block styles %}
<style type="text/css">
#bar-chart-container{
	margin-top:100px;
}
</style>
{% endblock %}

{% block scripts %}
    <script>
        {% include 'partials/_summary_pie.js' %}
		$(function () {
		    var sample_count = $('#sample_count');
		    var gender_count = $('#gender_count');
		    var region_count = $('#region_count');
		    // var sample_count = $('#sample_count');
		    pie_chart(sample_count, {{ sample_proportion | safe }}, 'Sample proportion for different datasets');
		    pie_chart(gender_count, {{ gender_proportion | safe }}, 'Sample proportion for different gender');
		    pie_chart(region_count, {{ region_proportion | safe }}, 'Sample proportion for different regions');
		});
    </script>
{% endblock %}
